@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&family=Pixelify+Sans&display=swap');
*{
    margin:0;
    padding:0;
    /* pointer-events: none; */
}
#main{
    width:100%;
    height:100vh;
    overflow: hidden;
    position: relative;
}
#back{
    width:100%;
    height:100vh;
}
#back img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
#front{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
}
#container{
    position: relative;
    padding: 0;
    margin:auto;
    width: 80%;
    max-width: 1920;
    height: 100vh;
}
.content{
    position: absolute;
    top: 50%;
    left:0;
    transform: translate(0 , -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left-content{
    min-width:50%;
}
.left-content .text{
    position: relative;
    height: 6vw;
    overflow: hidden;
}
.left-content .text h1:nth-child(1){
    top:0;
}
.left-content .text h1{
    position: absolute;
    top: 100%;
    line-height: 1.6;
    font-family:Nosifer;
    color: white;
    font-weight: 100;
    font-size: 4vw;
}
.left-content button{
    pointer-events: all;
    padding:5px 102px;
    font-family: Nosifer;
    font-size: 20px;
    border: 2px solid crimson;
    margin-top: 20px;
    border-radius: 5px;
    background: transparent;
}
.left-content button:hover{
    background-color: crimson;
    border: 2px solid gainsboro;
}
.right-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:30%;
    color: white;
}
.right-content p{
    font-size: 15px;
    font-weight:300;
    margin: 10px 0;
    text-align: right;   
}
.right-content img{
    height: 200px;
    width: 250px;
    background-color: aqua;
    margin: 10px 0;
}
